<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="AccesoDatos.Properties.Settings.APP_ROBERTOConnectionString3"
   connectionString="Data Source=HP;Initial Catalog=APP_ROBERTO;Integrated Security=True;TrustServerCertificate=True&#xA;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
