<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.APP_ROBERTOConnectionString"
            connectionString="Data Source=HP;Initial Catalog=APP_ROBERTO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.APP_ROBERTOConnectionString1"
            connectionString="Data Source=(localdb)\BrandonDB;Initial Catalog=APP_ROBERTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>